html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

*::-webkit-scrollbar {
	width: 10px;
}
	
*::-webkit-scrollbar-track {
	opacity: 0;
}
	
*::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 0.5rem;
}
	
*::-webkit-scrollbar-thumb:hover {
	background-color: #575757;
}

.scrollable {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.slideshow {
	position: relative;
}

.slideshow img {
	width:100%;
	box-sizing: border-box;
	border-radius: 15px;
	border: #8a0101 5px solid;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 10px;
}

.next {
	right: 0;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #595959;
}
	
.portfolio {
	font-family: Source Code Pro;
	width: 100%;
	text-align: center;
	margin: auto;
}

.portfolio-container {
	margin: auto;
	width: 90%;
	max-width: 1400px;
	min-width: 275px;
	padding-top: 130px;
	font-size: 15px;
	text-align: left;
	transition: all .2s linear;
}

.infotitle {
	font-size: min(max(24px, 6vw), 32px);
	font-weight: 600;
}

.meta {
	display: none;
}

.descriptiontitle {
	display: inline-block;
	width: 90%;
	padding: 20px;
	padding-right: 20px;
	margin: auto;
	color: white; 
	font-size: min(max(14px, 4vw), 18px);
	font-weight: 100;
	text-align: center;
}
		
@media only screen and (max-device-width:750px) {
	.description {
		display: inline-block;
		width: 90%;
		padding: 20px;
		padding-right: 20px;
		margin: auto;
		color: white; 
		font-size: min(max(14px, 4vw), 18px);
		font-weight: 100;
		text-align: center;
		max-width: 500px;
		vertical-align: top;
	}
}

@media only screen and (min-device-width:751px) {
	.description {
		display: inline-block;
		width: 45%;
		padding: 15px;
		padding-right: 15px;
		margin: auto;
		color: white; 
		font-size: min(max(14px, 4vw), 18px);
		font-weight: 100;
		text-align: center;
		max-width: 500px;
		padding-right: 5px;
		vertical-align: top;
	}
}
