html, body {
		margin: 0;
		height: 100%;
		overflow: hidden;
}

*::-webkit-scrollbar {
		width: 10px;
}
	
*::-webkit-scrollbar-track {
		opacity: 1;
}
	
*::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 0.5rem;
}
	
*::-webkit-scrollbar-thumb:hover {
		background-color: #575757;
}

.scrollable {
		height: 100%;
		overflow-y: scroll;
}
	
.portfolio {
		display: table;
		font-family: Source Code Pro;
		width: 100%;
		max-width: 2000px;
		text-align: center;
		margin: auto;
		padding-top: 140px;
}
	
.portfolio-box {
		padding: 12px;
		padding-bottom: 20px;
		display: inline-block;
		width: 85%;
		max-width: 500px;
		min-width: 250px;
		transition: all .2s linear;
}
	
.portfolio-box-container:hover {
		transform: scale(1.05) rotate(0.75deg);
}
	
.portfolio-box-container:active {
		transform: scale(0.95);
}
