html {
		overflow: overlay;
		scroll-behavior: smooth;
		background-color: #1e1e1e;
}
	
*::-webkit-scrollbar {
		width: 10px;
}
	
*::-webkit-scrollbar-track {
		opacity: 1;
}
	
*::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 0.5rem;
}
	
*::-webkit-scrollbar-thumb:hover {
		background-color: #575757;
}

b {
        	font-weight: 600;
        	letter-spacing: -1px;
        	color: #cccccc;
		font-size: 20px;
		font-size: max(16px, min(3vw, 28px));
		font-size: clamp(16px, 3vw, 28px);
}
        
c {
		font-weight: 600; 
		letter-spacing: -1px;
		color: #cccccc;
		font-size: 18px;
		font-size: max(15px, min(2vw, 22px));
		font-size: clamp(15px, 2vw, 22px);
}

d {
		font-weight: 10; 
		letter-spacing: -1px;
		color: #cccccc;
		font-size: 14px;
		font-size: max(14px, min(2vw, 16px));
		font-size: clamp(14px, 2vw, 16px);
}
	
.portfolio {
		position: abosolute;
		top: 20px;
		padding: 5px;
		padding-top: 10px;
		display: table;
		font-family: Source Code Pro;
		width: 90%;
		max-width: 2000px;
		text-align: center;
		margin: auto;
}
	
.portfolio-box {
		background-color: #13151a;
		color: #ffffff;
		padding: 12px;
		border-radius: 5px;
		text-align: left;
		transition: all .2s linear;
}
	
.portfolio-box-container {
		padding: 12px;
		padding-bottom: 25px;
		display: inline-block;
		width: 95%;
		max-width: 500px;
		min-width: 270px;
}
	
.portoflio-text-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
}
	
.portfolio-title {
		text-align: center;
		font-size: 40px;
		font-family: Source Code Pro;
		font-weight: 600;
		color: #969696;
}
	
.portfolio-title-container {
		display: inline-block;
        	padding-top: 140px;
}
	
.portfolio-box:hover {
		transform: scale(1.05) rotate(0.75deg);
}
	
.portfolio-box:active {
		transform: scale(0.95);
}

iframe {
		overflow: hidden;
		pointer-events: none;
}
