.portfolio {
		position: abosolute;
		top: 20px;
		padding: 5px;
		padding-top: 10px;
		display: table;
		font-family: Source Code Pro;
		width: 90%;
		max-width: 2000px;
		text-align: center;
		margin: auto;
}
	
.portfolio-box {
		background-color: #13151a;
		color: white;
		padding: 12px;
		border-radius: 5px;
		font-size: 15px;
		text-align: left;
		transition: all .2s linear;
}
	
.portfolio-box-container {
		padding: 10px;
        padding-bottom: 25px;
		display: inline-block;
		width: 75%;
		max-width: 750px;
        min-width: 270px;
}
	
.portoflio-text-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
}
	
.portfolio-title {
		text-align: center;
		font-size: 40px;
		font-family: Source Code Pro;
		font-weight: 600;
		color: #969696;
}
	
.portfolio-title-container {
		display: inline-block;
}
	
.portfolio-box:hover {
		transform: scale(1.05) rotate(0.75deg);
}
	
.portfolio-box:active {
		transform: scale(0.95);
}
